{% load staticfiles %}

<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<title>Gestor de museos</title>
		<meta name="Author" content="Pablo Moreno Vera" />
		<meta name="description" content="" />
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	</head>
	<body>

		<div id="upbg"></div>

		<div id="outer">


			<div id="header">
				<div id="headercontent">
					<img src="/media/images/banner.jpg" width="150" height="110" class="left" alt="Random foliage" />
				</div>

				<div id="login">
					<form method="POST" action="/login">{% csrf_token %}
						<input type="text" class="text" name="user" value="usuario"/><br>
						<input type="text" class="text" name="psswd" value="contraseña"/>
						<input type="submit" value="login" class="submit"/>
					</form>
				</div>

				<div id="log">
					<h4>{{ logged|safe }}</h4>
				</div>
			</div>


			<div id="headerpic"></div>


			<div id="menu">
				{% block menu %} {% endblock %}

				<form method="post" action="">{% csrf_token %}
					<div id="search">
						<input type="text" class="text" maxlength="64" name="keywords" />
						<input type="submit" class="submit" value="Search" />
					</div>
				</form>
			</div>
			<div id="menubottom"></div>


			<div id="content">

				<!-- Normal content: Stuff that's not going to be put in the left or right column. -->
				<div id="normalcontent">
					<h1>{{ Titulo }}</h1>
					<div class="contentarea">
						<!-- Normal content area start -->
						<!-- Normal content area end -->
					</div>
				</div>


				<div class="divider1"></div>


				<!-- Primary content: Stuff that goes in the primary content column (by default, the left column) -->
				<div id="primarycontainer">
					<div id="primarycontent">
						<!-- Primary content area start -->
						{% block museos%} {% endblock %}
						{% block museo%} {% endblock %}
						{% block usuario%} {% endblock %}

						<div id="pages">
							<div class="post">
								{% block pages%} {% endblock %}
							</div>
						</div>

						<!-- Primary content area end -->
					</div>
				</div>

				{% block paginas_personales %} {% endblock %}


			</div>

			<div id="footer">
					<div class="left">&copy; 2006 Your Website Name. All rights reserved.</div>
					<div class="right">Autor: Pablo Moreno Vera</div>
			</div>

		</div>

	</body>
</html>
