{% load staticfiles %}

<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<title>Gestor de museos</title>
		<meta name="Author" content="Pablo Moreno Vera" />
		<meta name="description" content="" />
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	</head>
	<body>

		<div id="upbg"></div>

		<div id="outer">
			<style>
				{{ formato }}
			</style>

			<div id="header">
				<div id="headercontent">
					<img src="/media/images/banner.jpg" width="150" height="110" class="left" alt="Random foliage" />
				</div>

				<div id="login">
					{% if user.is_authenticated %}
						<form method="POST" action="/logout">{% csrf_token %}
							<input type="text" class="text" name="user" value="{{user.get_username}}"/><br>
							<input type="text" class="text" name="psswd" value=""/>
							<input type="submit" value="logout" class="submit"/>
						</form>
					{% else %}
						<form method="POST" action="/login">{% csrf_token %}
							<input type="text" class="text" name="user" value="usuario"/><br>
							<input type="text" class="text" name="psswd" value="contraseña"/>
							<input type="submit" value="login" class="submit"/>
						</form>
					{% endif %}
				</div>
			</div>


			<div id="headerpic"></div>


			<div id="menu">
				{% block menu %} {% endblock %}

				<div id="search">
					{% block boton_accesibles %} {% endblock %}
					{% block distrito %}{% endblock %}
				</div>
			</div>
			<div id="menubottom"></div>


			<div id="content">

				<!-- Normal content: Stuff that's not going to be put in the left or right column. -->
				<div id="normalcontent">
					<h1>{{ Titulo }}</h1>
					<div class="contentarea">
						<!-- Normal content area start -->
						{% block cargar_bd %} {% endblock %}
						{% block añadir %} {% endblock %}
						{{ add }}
						<!-- Normal content area end -->
					</div>
				</div>


				<div class="divider1"></div>


				<!-- Primary content: Stuff that goes in the primary content column (by default, the left column) -->
				<div id="primarycontainer">
					<div id="primarycontent">
						<!-- Primary content area start -->
						{% block error %} {% endblock %}
						{% block museos %} {% endblock %}
						{% block museo %} {% endblock %}
						{% block usuario %} {% endblock %}
						{% block Comentarios %} {% endblock%}
						{% block Comentario %} {% endblock %}

						<div id="pages">
							<div class="post">
								{% block pages%} {% endblock %}

							</div>
						</div>
						<!-- Primary content area end -->

					</div>
				</div>

				<!-- Secondary content: Stuff that goes in the secondary content column (by default, the narrower right column) -->
				<div id="secondarycontent">
					<!-- Secondary content area start -->
					{% block map %} {% endblock %}
					<!-- Secondary content area end -->
				</div>

				{% block paginas_personales %} {% endblock %}

			</div>

			<div id="footer">
					<div class="left">&copy; <a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default"> Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid.</a></div>
					<div class="right">Autor: Pablo Moreno Vera</div>
			</div>
		</div>
	</body>
</html>
