{% extends "web/index.html" %}

{% block menu %}
<ul>
	<li><a href="/" class="active">Inicio</a></li>
	<li><a href="/museos">Todos</a></li>
	<li><a href="/about">About</a></li>
</ul>
{% endblock %}

{% block boton_accesibles %}
	{% if accesible == 0 %}
	<form action="/" method="GET">
		<input type="hidden" name="Accesible" value="1">
			<input type="submit" value="Accesibles" class="submit">
	</form>
	{% else %}
		<form action="" method="GET">
				<input type="submit" value="Accesibles" class="submit">
		</form>
	{% endif %}
{% endblock %}

{% block museos %}
	{% for museo in museos %}
		<div class="post">
			<h4> {{ museo.NOMBRE }} <a href="{{ museo.CONTENT_URL }}">Página del museo</a></h4>
			<ul class="controls">
				<li>Dirección: {{ museo.CLASE_VIAL }} {{ museo.NOMBRE_VIA}}, Numero: {{ museo.NUM}}, {{ museo.LOCALIDAD }}, {{ museo.PROVINCIA}}</li><br>
				<li><a href="/museos/{{ museo.id }}" class="more">Más información</a></li>
			</ul>
		</div>

		<div class="divider2"></div>
	{% endfor %}
{% endblock %}

{% block pages %}
	<h4>{{ pages|safe }}</h4>
{% endblock %}

{% block paginas_personales %}
<!-- Secondary content: Stuff that goes in the secondary content column (by default, the narrower right column) -->
<div id="secondarycontent">
	<!-- Secondary content area start -->

	<!-- HINT: Set any div's class to "box" to encapsulate it in (you guessed it) a box -->
	<div>
		<h4>Listado de páginas personales</h4>
		<div class="contentarea">
			<ul class="linklist">
				{% for pagina in paginas %}
					{% if pagina.titulo == "" %}
						<li><a href="/{{ pagina.nombre }}">Página de {{ pagina.nombre }}</a></li>
					{% else %}
						<li><a href="/{{ pagina.nombre }}">{{ pagina.titulo }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- Secondary content area end -->
</div>
{% endblock %}
