{% extends "web/index.html" %}

{% block menu %}
<ul>
	<li><a href="/">Inicio</a></li>
	<li><a href="/museos">Museos</a></li>
	<li><a href="/about">About</a></li>
</ul>
{% endblock %}

{% block museo %}
<div class="post">
	<h3> Nombre: {{ museo.nombre }}</h3><br><br>
	<h2> Direccion: </h2><br>
	<h2> Distrito: {{ museo.distrito }}</h2><br>
	<h2> Contacto: </h2><br>
	{% if museo.accesibilidad == 1 %}
		<h2> Accesibilidad: Si</h2><br>
	{% else %}
		<h2> Accesibilidad: No</h2><br>
	{% endif %}
	<h2> Barrio: </h2><br>
	<h2> Descripcion: </h2><br>
	<h2><a href="{{ museo.url }}"> Página Web</a></h2><br>
</div>
{% endblock %}
