{% extends "web/index.html" %}

{% block menu %}
<ul>
	<li><a href="/">Inicio</a></li>
	<li><a href="/museos" class="active">Todos</a></li>
	<li><a href="/about">About</a></li>
</ul>
{% endblock %}

{% block distrito %}
<form method="GET" action="/museos">
  <select name="Distrito" class="Combobox">
		<option style="display:none" selected="selected">{{ Dist_select }}</option>
		{% for distrito in distritos %}
    <option value="{{ distrito }}">{{ distrito }}</option>
		{% endfor %}
  </select>
  <input type="submit" class="submit" value="Submit" >
</form>
{% endblock %}

{% block museos %}
	{% for museo in museos %}
		<div class="post">
			<h4> {{ museo.NOMBRE }} <a href="{{ museo.CONTENT_URL }}">Página del museo</a></h4>
		</div>

		<div class="divider2"></div>
	{% endfor %}
{% endblock %}
