{% extends "web/index.html" %}

{% block menu %}
<ul>
	<li><a href="/">Inicio</a></li>
	<li><a href="/museos">Todos</a></li>
	<li><a href="/about">About</a></li>
</ul>
{% endblock %}

{% block añadir %}
	{% if user.is_authenticated %}
		<form action="/museos/{{ museo.id }}" method="POST">{% csrf_token %}
			<input type="hidden" name="Add" value="Si">
				<input type="submit" value="Añadir" class="submit">
		</form>
	{% endif %}
{% endblock %}

{% block museo %}
<div class="post">
	<h3> Nombre: {{ museo.nombre }}</h3>
	<div class="divider2"></div>
	<h2> Direccion: </h2>
	<div class="divider2"></div>
	<h2> Distrito: {{ museo.distrito }}</h2>
	<div class="divider2"></div>
	<h2> Contacto: </h2>
	<div class="divider2"></div>
	{% if museo.accesibilidad == 1 %}
		<h2> Accesibilidad: Si</h2>
	{% else %}
		<h2> Accesibilidad: No</h2>
	{% endif %}
	<div class="divider2"></div>
	<h2> Barrio: </h2>
	<div class="divider2"></div>
	<h2> Descripcion: </h2>
	<div class="divider2"></div>
	<h2><a href="{{ museo.url }}"> Página Web</a></h2>
	<div class="divider1"></div>
</div>
{% endblock %}

{% block Comentarios %}
	<h2> Comentarios: </h2>
	{% for comentario in comentarios %}
		<div class="coments">
			<h4>{{ comentario.texto }}</h4>
		</div>
	{% endfor %}
{% endblock %}

{% block Comentario %}
	{% if user.is_authenticated %}
		<form method="POST" action="/museos/{{ museo.id }}">{% csrf_token %}
			<h2><input type="text" class="text" size="87" name="Comentario" value=""/>
			<input type="submit" class="submit" value="Comentar" /></h2>
		</form>
	{% endif %}
{% endblock %}
