{% extends "web/index.html" %}

{% block menu %}
<ul>
	<li><a href="/">Inicio</a></li>
	<li><a href="/museos">Todos</a></li>
	<li><a href="/about">About</a></li>
</ul>
{% endblock %}

{% block añadir %}
	{% if user.is_authenticated %}
		<form action="/museos/{{ museo.id }}" method="POST">{% csrf_token %}
			<input type="hidden" name="Add" value="Si">
				<input type="submit" value="Añadir" class="submit">
		</form>
	{% endif %}
{% endblock %}

{% block museo %}
<div class="post">
	<h3> Nombre</h3><h2>{{ museo.NOMBRE }}</h2>
	<div class="divider2"></div>
	<h4> ID-ENTIDAD</h4><br>{{ museo.ID_ENTIDAD }}
	<div class="divider2"></div>
	<h4> Descripcion</h4><br>{{ museo.DESCRIPCION }}
	<div class="divider2"></div>
	<h4> Horario</h4><br>{{ museo.HORARIO }}
	<div class="divider2"></div>
	<h4> Transporte</h4><br>{{ museo.TRANSPORTE }}
	<div class="divider2"></div>
	{% if museo.accesibilidad == 1 %}
		<h4> Accesibilidad:</h4>Si
	{% else %}
		<h4> Accesibilidad:</h4>No
	{% endif %}
	<div class="divider2"></div>
	<h4>Content-Url:</h4><br><a href="{{ museo.CONTENT_URL }}"> {{ museo.CONTENT_URL}}</a>
	<div class="divider2"></div>
	<h4> Direccion</h4><br>{{ museo.CLASE_VIAL }} {{ museo.NOMBRE_VIA}}, Numero: {{ museo.NUM}}, {{ museo.LOCALIDAD }}, {{ museo.PROVINCIA}}
	<div class="divider2"></div>
	<h4> Código Potal</h4><br>{{ museo.CODIGO_POSTAL }}
	<div class="divider2"></div>
	<h4> Barrio</h4><br>{{ museo.BARRIO }}
	<div class="divider2"></div>
	<h4> Distrito</h4><br>{{ museo.DISTRITO }}
	<div class="divider2"></div>
	<h4> Coordenadas</h4><br>X:{{ museo.COORDENADA_X }}, Y:{{ museo.COORDENADA_Y }}
	<div class="divider2"></div>
	<h4> Latitud</h4><br>{{ museo.LATITUD }}
	<div class="divider2"></div>
	<h4> Longitud</h4><br>{{ museo.LONGITUD }}
	<div class="divider2"></div>
	<h3> Contacto </h3><br>
	<h4> TELEFONO</h4>{{ museo.TELEFONO }}<br>
	<h4> FAX</h4>{{ museo.FAX }}<br>
	<h4> EMAIL</h4>{{ museo.EMAIL }}<br>
	<div class="divider1"></div>
</div>
{% endblock %}

{% block Comentarios %}
	<h2> Comentarios: </h2>
	{% for comentario in comentarios %}
		<div class="coments">
			<h5>{{ comentario.texto }}</h5>
		</div>
	{% endfor %}
{% endblock %}

{% block Comentario %}
	{% if user.is_authenticated %}
		<form method="POST" action="/museos/{{ museo.id }}">{% csrf_token %}
			<h2><input type="text" class="text" size="87" name="Comentario" value=""/>
			<input type="submit" class="submit" value="Comentar" /></h2>
		</form>
	{% endif %}
{% endblock %}
