{% extends "web/index.html" %}

{% block menu %}
<ul>
	<li><a href="/">Inicio</a></li>
	<li><a href="/museos">Todos</a></li>
	<li><a href="/about">About</a></li>
</ul>
{% endblock %}

{% block usuario %}
<div class="post">
	<h3> Nombre: {{ usuario.nombre }}</h3>
	<div class="divider2"></div>

	{% if user.is_authenticated and usuario.nombre == user.get_username %}
		<form method="POST" action="/{{ usuario.nombre }}">{% csrf_token %}
			<h2><label for="uname">Título: </label>
			<input type="text" class="text" name="Titulo" value="{{ usuario.titulo }}"/>
			<input type="submit" value="Submit" class="submit"/></h2>
		</form>

		<form method="POST" action="/{{ usuario.nombre }}">{% csrf_token %}
			<h2><label for="uname">Letra: </label>
			<input type="text" class="text" name="Letra" value="{{ usuario.letra }}"/></h2>
			<h2><label for="uname">Color: </label>
			<input type="text" class="text" name="Color" value="{{ usuario.color }}"/>
			<input type="submit" value="Submit" class="submit"/><h2>
		</form>
	{% else %}
		<h2> Titulo: {{ usuario.titulo }}</h2>
		<div class="divider2"></div>
		<h2> Letra: {{ usuario.letra }}</h2><br>
		<div class="divider2"></div>
		<h2> Color: {{ usuario.color }}</h2><br>
	{% endif %}

	<div class="divider1"></div>

  <h3>Listado de museos favoritos</h3><br><br><br>

  {% for museo in museos %}
    <div class="post">
      <h4> {{ museo.nombre }} <a href="{{ museo.url }}">Página del museo</a></h4>
      <ul class="controls">
        <li>Dirección: {{ museo.direccion }}</li><br>
				{% for favorito in favoritos %}
					{% if favorito.museo.nombre = museo.nombre %}
						<li>Fecha: {{ favorito.fecha }}</li><br>
					{% endif %}
				{% endfor %}
        <li><a href="/museos/{{ museo.id }}" class="more">Más información</a></li>
      </ul>
    </div>

    <div class="divider2"></div>
  {% endfor %}
</div>
{% endblock %}

{% block pages %}
	<h4>{{ pages|safe }}</h4>
{% endblock %}
