{% extends "web/index.html" %}

{% block menu %}
<ul>
	<li><a href="/">Inicio</a></li>
	<li><a href="/museos">Museos</a></li>
	<li><a href="/about">About</a></li>
</ul>
{% endblock %}

{% block usuario %}
<div class="post">
	<h3> Nombre: {{ usuario.nombre }}</h3><br><br>
	<h2> Fecha: {{ usuario.fecha }}</h2><br>
	<h2> Color: {{ usuario.color }}</h2><br>
	<h2> Letra: {{ usuario.letra }}</h2><br>

  <h3>Listado de museos favoritos</h3><br><br><br>

  {% for museo in museos %}
    <div class="post">
      <h4> {{ museo.nombre }} <a href="museos/{{ museo.id }}">Página del museo</a></h4>
      <ul class="controls">
        <li>Dirección: {{ museo.direccion }}</li><br>
        <li><a href="/museos/{{ museo.id }}" class="more">Más información</a></li>
      </ul>
    </div>

    <div class="divider2"></div>
  {% endfor %}
</div>
{% endblock %}
